<div class="module">

  <div class="m_hero {{extra-class}}" style="background-image: url({{img}});">
    <div class="hero_content">
      <h1 class="hero_title {{title-font}}">{{title}}</h1>
      {{#is button "true"}}
      <a href="{{button-link}}" class="button button--white">{{button-text}}</a>
      {{/is}}
    </div>
  </div>

</div>