<div class="m_partner">
  <h4 class="partner__title"><a href="{{link}}">{{title}}</a></h4>
  <a class="partner__follow" target="_blank" href="follow-link">Follow</a>
  <a class="partner__img" href="{{link}}">
    <img src="{{img}}" alt="{{title}} Image"/>
  </a>  
</div>