<div class="module {{module-class}}">
  <div class="row">

    <div class="m_shout {{extra-class}}">
      <div class="shout_img xsmall-24 medium-12 large-9 xlarge-9 {{img-class}}">
        <a href="#!" class="fleft xsmall-24">
          <img src="{{img}}" />
        </a>
      </div>
      <div class="shout_content xsmall-24 medium-12 large-9 xlarge-7 {{content-class}}">
        <h2 class="shout_title">{{title}}</h2>
        <p class="shout_copy">
          {{copy}}
        </p>
        {{#is button "true"}}
        <a href="{{button-link}}" class="button {{button-class}}">{{button-text}}</a>
        {{/is}}
      </div>
    </div>

  </div>
</div>